.env

/data/*
/results/images
/results/rough
/results/shapefiles

/scripts/attic/ridership-data-to-postsql.py
/scripts/trip_calculator.py
/scripts/attic/trip_calculator_parallel.py
/scripts/batch_benchmarking.py

.ipynb_checkpoints/